

<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row py-15 mb-25" *ngFor="let mv of movieDetails">
    
    <div class="col-md-3">
      <mat-card class="example-card">
        <img mat-card-image src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{mv.backdrop_path}}" alt="Photo of a Shiba Inu">
        </mat-card>
    </div>
    <div class="col-md-9">
      <mat-card class="example-card">
        <mat-card-content>

          <div class="jumbotron">
            <h1 class="display-4">{{mv.title}} </h1>
            <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
            <hr class="my-4">
            <h4 class="display-4">Release</h4>
            <p>{{mv.release_date}}</p>
            <h2 class="display-4">Language Spoken:</h2>
            <p>Language will take place here.</p>
            <h2 class="display-4">Production Countries:</h2>
            <p>Production Detail will take place here.</p>
          </div>
          

          <div class="jumbotron ">
            <div class="container">
              <h2 class="display-4">Description</h2>
              <p>{{mv.overview}}</p>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>
