<!-- <p>home works!</p> -->

<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li>
        <li><a routerLink="current">NOW PLAYING</a></li>
        <li><a routerLink="upcoming">UPCOMING</a></li>
        <li><a routerLink="latest">LATEST</a></li>
      </ul>
      <form class="navbar-form navbar-right" >
        <div class="form-group" *ngFor="let item of items | searchFilter: searchTerm" >
          <input type="text" class="form-control" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm">
          <p>{{item.title}}</p>
        </div>
      </form>
    </div>
  </nav> -->
  
 
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid">
    <div class="row" *ngFor = "let item of items">
      <div class="col-lg-3 mt-3 mb-3" >
        <div class="box">
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{item.backdrop_path}}" width="100%">
        <h2 class="mt-3 mb-3"> {{item.original_title}} </h2>
        <a class="btn btn-dark btn-sm" routerLink="/movieDetail/{{item.id}}">More Details</a>
        </div>
      </div>
    </div>
  </div>

  
  
<!-- <app-get-data-by-parameter-rest-api></app-get-data-by-parameter-rest-api> -->
<!-- <app-get-data-rest-api></app-get-data-rest-api> -->

